body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/pixil-frame-0.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.snakeGame {
  font-family: 'Pixelify Sans', sans-serif;
  text-align: center;
  color: #2DE10D;
  font-size: 10rem;
  text-shadow: 0px 0px 30px #000000;
  animation: move 0.3s infinite alternate;
}

.contenedor {
  text-align: center;
}

.botones {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin: 0 45px;
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 900;
  color: black;
  transition: transform 0.4s ease;
  border-radius: 150px;
  background-color: rgb(38, 187, 50);
  box-shadow: 0px 0px 20px #000000a7;
}

button:hover {
  color: #035d00;
  transform: scale(1.1);
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px);
  }
}
